
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    @Model.result
</div>*@
@*@{
    var isAdmin = await Authoriation.AuthorizeAsync(User, null, "Admin");
}*@


<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <!-- maintenance -->
    <section>
        <div class="col-xl-12 col-md-12 col-12 d-flex justify-content-center">
            <div class="card auth-card bg-transparent shadow-none rounded-0 mb-0 w-100">
                <div class="card-content">
                    <div class="card-body text-center">
                        <img src="~/Admin/dist/img/maintenance-2.jfif" class="img-fluid align-self-center" alt="branding logo">
                        <h1 class="font-large-2 my-1">لوحة تحكم تطبيق الزواج</h1>
                        <p class="px-2">
                           
                        </p>
                        <a class="btn btn-primary btn-lg mt-1" href="/Admin">Go To System</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
<script src="~/js/signalr.js"></script>
<script src="~/js/usersCount.js"></script>